$def with (mode, set_point, set_point_steam, duty_cycle, cycle_time, k_param, i_param, d_param, brew_k_param, brew_i_param, brew_d_param)

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>iSPRESSO - Advanced Settings</title>
		  <link rel="stylesheet" href="/static/jquery.mobile-1.3.2.min.css">
		<link rel="stylesheet" type="text/css" href="/static/raspibrew.css" />
		
		  <!-- jQuery and jQuery Mobile -->
  <script src="/static/jquery-1.9.1.min.js"></script>
  <script src="/static/jquery.mobile-1.3.2.min.js"></script>


		<!--[if IE]><script type="text/javascript" src="excanvas.js"></script><![endif]-->
		<script type="text/javascript" src="/static/gauge.js">			
		</script>
		<!script type="text/javascript" src="/static/jquery.js">   
		</script>
		<script type="text/javascript" src="/static/jquery.flot.js">
		</script>
		<script type="text/javascript" src="/static/jquery.flot.selection.js">
		</script>
		
   <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="icon" type="image/png" href="/static/images/favicon.ico">
  <title>iSPRESSO Schedule</title>
  
  
   
   	<script type="text/javascript" src="/static/digitize/digitize.min.js"></script>
   	<script type="text/javascript" src="/static/digitize/cmatrix.min.js"></script>
	<link rel="stylesheet" href="/static/digitize/digitize.min.css">

	<script type="text/javascript">


	
   	var gaugeDisplay;
        //declare globals
        var t, tempdataarray, heatdataarray, setpointdataarray, dutyCycle, options_temp, options_heat, plot, gaugeDisplay, newGaugeDisplay, lastbrewtemps, lastbrewtimes
        var capture_on = 1;
        var temp_C, temp_F, setpoint_C
        t = 0

        function showTooltip(x, y, contents) {
            jQuery('<div id="tooltip">' + contents + '</div>').css( {
                    position: 'absolute',
                    display: 'none',
                    top: y + 5,
                    left: x + 5,
                    border: '1px solid #fdd',
                    padding: '2px',
                    'background-color': '#fee',
                    opacity: 0.80
            }).appendTo("body").fadeIn(200);
        }


        function waitForMsg(){
		       
	        jQuery.ajax({
	            type: "GET",
	            url: "/getstatus",
	            dataType: "json",
	            async: true, 
	            cache: false,
	            timeout:50000, 
	            
	            success: function(data){  
                        setTimeout(waitForMsg, 2); //in millisec
                        
                        jQuery("#lcdscreen").html( "Temp: " + Math.round(data.temp) + " F");
                        jQuery("#lcdscreen").digitize({
                                                    size : 3,            // The size of a character brick, in pixels
                                                    color : "#eeeeee",   // The color of the digitized chars (must be HEX)
                                                    aspect : "smooth"    // Brick shape: "square" (default), "smooth", "round"
                                                }); 
                        
                                                if (data.mode == "off") 			// heat == off | manual | auto
                                                {
                                                        jQuery("#tglHeat").val("off").slider("refresh");
                                                } 
                                                else
                                                {
                                                        jQuery("#tglHeat").val("on").slider("refresh");
                                                }
                                                if (data.pump == "true")			// pump = false | true
                                                {
                                                        jQuery("#tglPump").val("on").slider("refresh");
                                                }
                                                else
                                                {
                                                        jQuery("#tglPump").val("off").slider("refresh");
                                                }
                        //alert(data.mode);
                         //temp_F = (9.0/5.0)*parseFloat(data.temp) + 32;
                         //temp_F = temp_F.toFixed(2);
                         temp_C = (5.0/9.0)*(parseFloat(data.temp) - 32);
                         temp_C = temp_C.toFixed(2);
                         
                         jQuery('#tempResponse').html(data.temp);
                         jQuery('#tempResponse_C').html(temp_C)
                         jQuery('#modeResponse').html(data.mode);
                         jQuery('#setpointResponse').html(data.set_point);
                         jQuery('#setpointsteamResponse').html(data.set_point_steam);
                         jQuery('#dutycycleResponse').html(parseFloat(data.duty_cycle).toFixed(2));
                         dutyCycle = data.duty_cycle;
                         jQuery('#cycletimeResponse').html(data.cycle_time);
                         jQuery('#k_paramResponse').html(data.k_param);
                         jQuery('#i_paramResponse').html(data.i_param);
                         jQuery('#d_paramResponse').html(data.d_param);
                         jQuery('#brew_k_paramResponse').html(data.brew_k_param);
                         jQuery('#brew_i_paramResponse').html(data.brew_i_param);
                         jQuery('#brew_d_paramResponse').html(data.brew_d_param);
                         
                        if (data.mode == "auto") {
                            //setpoint_C = (5.0/9.0)*(parseFloat(data.set_point) - 32);
                            setpointdataarray.push([t, parseFloat(data.set_point)]);
                         }
                         else {
                                setpointdataarray = [];
                         }
                         
                         tempdataarray.push([t,parseFloat(data.temp)]);
                         heatdataarray.push([t,parseFloat(data.duty_cycle)]);
                                                                                
                         //tempdataarray.push([i,parseFloat(data.temp)]);
                         //heatdataarray.push([i,parseFloat(data.duty_cycle)]);
                                                         
                         while (tempdataarray.length > jQuery('#windowSizeText').val()){
                                tempdataarray.shift();
                         }
                         
                         while (heatdataarray.length > jQuery('#windowSizeText').val()){
                                heatdataarray.shift();
                         }
                         
                         t += parseFloat(data.elapsed)
                         
                         jQuery('#windowSizeText').change(function(){tempdataarray=[];heatdataarray=[];t = 0;});
                         
                         //i++;
                         if (capture_on == 1) {
                                 if (data.mode == "auto" || data.mode == "manual") {
                                        plot = jQuery.plot($$("#tempplot"), [ {data: tempdataarray}, {data: setpointdataarray},  { data: heatdataarray, yaxis: 2 } ], options_temp);
                                 } 
                                 else {
                                        plot = jQuery.plot($$("#tempplot"), [ {data: tempdataarray} , { data: heatdataarray, yaxis: 2 }], options_temp);
                                 }
                                plot($$("#heatplot"), [ heatdataarray ], options_heat);

                                 //plot.setData([dataarray]);
                                 //plot.draw();	 
                                 setTimeout('waitForMsg()', 1); //in millisec
                         }                        
                    }
	    	  });
	 };
        function showlastbrewed(){
                jQuery.ajax({
                        type: "GET",
                        url: "/brews/espresso",
                        dataType: "json",
                        async: true, 
                        cache: false,
                        timeout:50000, 
                        
                        success: function(data){
                            lastbrewtemps = []
                            for(var i in data.temperatures){
                                lastbrewtemps[i] = [data.times[i],data.temperatures[i]]
                            }
                            plot = jQuery.plot($$("#lastbrewplot"), [lastbrewtemps], options_temp);
                            setTimeout('showlastbrewed()', 1); //in millisec
                        }
                });
            };

          jQuery(document).ready(function() {
                jQuery("#logo img").css({ 'max-width' : jQuery(window).width() });
                jQuery("#logo img").css({"height" : "auto"});

                jQuery( ".toggleButton" ).slider({
                        stop: function( event, ui ) 
                        {
                                sender = jQuery(event.target);
                                myNodeName = sender.attr('id').substring(3);
                                myNodeValue = sender.val();
                                
                                jQuery.ajax ({ 
                                        url : "/", 		// ispresso module is called when / is requested
                                        type: "post",
                                        data : { "operation" : myNodeName , "flag" : myNodeValue },	
                                        complete : function (xhr, result)
                                        {
                                            if (result != "success") return;
                                                var response = xhr.responseText;
                                        }
                                });   
                        }
                        });
               
                // added by synan because if mode=auto from another page I get an error this is not initialized.
                setpointdataarray = [];
                
                jQuery('#stop').click(function() {
                        capture_on = 0;
                });
                jQuery('#restart').click(function() {
                        capture_on = 1;
                        tempdataarray=[];
                        heatdataarray=[];
                        setpointdataarray=[];
                        t = 0;
                        waitForMsg();
                });
                        
                var previousPoint = null;
                jQuery("#tempplot").bind("plothover", function (event, pos, item) {
                        if (item) {
                                if (previousPoint != item.dataIndex) {
                                        previousPoint = item.dataIndex;
                                                
                                        jQuery("#tooltip").remove();
                                        var x = item.datapoint[0].toFixed(2),
                                                y = item.datapoint[1].toFixed(2);
                                                
                                        showTooltip(item.pageX, item.pageY,
                                                                "(" + x + ", " + y + ")");
                                }
                        }
                        else {
                                jQuery("#tooltip").remove();
                                previousPoint = null;            
                        }
                        
                });
                jQuery("#lastbrewplot").bind("plothover", function (event, pos, item) {	
                        if (item) {
                                if (previousPoint != item.dataIndex) {
                                        previousPoint = item.dataIndex;
                                                
                                        jQuery("#tooltip").remove();
                                        var x = item.datapoint[0].toFixed(2),
                                                y = item.datapoint[1].toFixed(2);
                                                
                                        showTooltip(item.pageX, item.pageY,
                                                                "(" + x + ", " + y + ")");
                                }
                        }
                        else {
                                jQuery("#tooltip").remove();
                                previousPoint = null;            
                        }
                        
                });

                        
                // line plot Settings
                i = 0;
                tempdataarray = []; 
                heatdataarray = []; 
                
                options_temp = {
                      series: {
                              lines: {show: true},
                              //points: {show: true}, 
                              shadowSize: 0 
                      }, 
                      yaxis: { min: null, max: null },
                      y2axis: { min: 0, max: 100 },
                      xaxis: { show: true },
                      
                      grid: {
                            hoverable: true
                      //  clickable: true
                      },
                      selection: { mode: "x" }
                }; 
                        

		waitForMsg();
                showlastbrewed();
	}); 

	
   </script>
   
</head>
<body>
		<div data-theme="a" data-role="header">
		<div id="logo"><img src="/static/images/ispresso_logo.png" alt="iSPRESSO" align="center" /></div>
		<div data-role="navbar" data-iconpos="top">
			<ul>
				<li>
					<a href="/" data-transition="fade" data-theme="" data-icon="" class="ui-btn-active ui-state-persist" rel="external">
						Home
					</a>
				</li>
				<li>
					<a href="settings" data-transition="fade" data-theme="" data-icon="" rel="external">
						Settings
					</a>
				</li>
				<li>
					<a href="schedule" data-transition="fade" data-theme="" data-icon="" rel="external">
						Schedule
					</a>
				</li>
				<li>
					<a href="advanced" data-transition="fade" data-theme="" data-icon="" rel="external">
						Advanced
					</a>
				</li>
			</ul>
		</div>
	</div>
    <div data-role="content" width="640" align="center">
    <table  border="0">
	<tr>
		<td colspan=2 style="background-color:#2222c3; border:double; height:80px; width:420px; " align="center">     
		<div id="lcdscreen" style="margin:0 auto; vertical-align:bottom; ">Temp</div>
		</td>
	</tr>
	<tr><td colspan=2><br/></td></tr>
	<tr>
        <div data-role="fieldcontain" >
		<td width="50%" align="center">
            <label for="tglHeat" >
                <h3>Heat</h3> 
            </label>
		</td>		
		<td width="50%" align="center">
            <select name="tglHeat" id="tglHeat" data-theme="" data-role="slider" class="toggleButton" >
                <option value="off">
                    Off
                </option>
                <option value="on">
                    On
                </option>
            </select>
        </td>
        </div>
	</tr>    	
	<tr><td colspan=2><br/></td></tr>
	<tr>
        <div data-role="fieldcontain">
		<td width="50%" align="center">
            <label for="tglPump">
                <h3>Pump</h3> 
            </label>
		</td>
		<td width="50%" align="center">
	        <select name="tglPump" id="tglPump" data-theme="" data-role="slider" class="toggleButton">
                <option value="off">
                    Off
                </option>
                <option value="on">
                    On
                </option>
            </select>
		</td>
       </div>
	</tr>
    </table>

    </div>

<div class="ControlResponse" id="tempheatplots" style="float:right;">
    <div class="tempdata"> 
            <p class="plottitle">Temperature Plot</p>
            <div id="tempplot" align=left  style="width:600px;height:200px;">
            </div>
            <p class="plottitle">Last Brew </p>
            <div id="lastbrewplot" align=left  style="width:600px;height:200px;">
            </div>
            <br/>
            <button id = "stop">Stop Capture</button> 
            <button id = "restart">Restart Capture  </button>
            </div>
            <br>
            Window Size: <input id="windowSizeText" type="text" name="windowSize"  maxlength = "6" size ="6" value=1000 style="text-align: right;"/> 
    
    </div>


		</div>

</div>
</body>
</html>
